$vheight-default: 30px;
$max-width: 1024px;

$font-family-default: brandon-grotesque,sans-serif;
$font-family-script: texas-hero, script, sans-serif;
$font-size-default: 16px;
$font-weight-normal: 300;
$font-weight-bold: 700;
$font-weight-black: 800;

$color-lightest:       #fff;
$color-darkest:        #162329;
$color-green-light-bg: #25e493;
$color-green-dark-bg:  #4cf0aa;
$color-text:           #487489;
$color-caption:        color($color-text whiteness(+ 25%));
$color-light-grey:     color($color-green-light-bg alpha(15%));
$color-text-light-bg:  #fafafa;
$color-heading:        $color-darkest;

/*
 * ## Media Queries
 */
$mq-retina: (-webkit-min-device-pixel-ratio: 1.5),  (min-resolution: 144dpi);
$mq-mobile: (min-width: 480px);
$mq-tablet: (min-width: 768px);
$mq-desktop: (min-width: 1100px);
$mq-large: (min-width: 1440px);
