.wp-caption {
  max-width: 100% !important;

  img {
    max-width: 100%;
    height: auto;
  }
}

.wp-caption-text,
.wp-caption-dd {
  display: block;
  margin-top: 0;
  padding: 0 5px;
  color: $color-caption;
  font-size: 80%;
  font-style: italic;
  line-height: 1.25;
}

.aligncenter,
.alignleft,
.alignright {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border: 1px solid $color-light-grey;

  figure& {
    margin-top: 2rem;
    border: 0;

    img {
      border: 1px solid $color-light-grey;
    }
  }
}

figure.aligncenter,
dl.aligncenter {
  margin-top: 2rem;

  @media (min-width: 800px) {
    text-align: center;
  }
}

img.alignleft,
img.alignright,
img.aligncenter {
  max-width: 100%;
  height: auto;
}

img.aligncenter {
  margin-top: $vheight-default;
}

.alignleft,
.alignright {
  &,
  figure&,
  img&,
  dl& {
    margin-top: $vheight-default;

    @media $mq-tablet {
      max-width: 45% !important;
    }
  }
}

.alignleft {
  &,
  figure&,
  img&,
  dl& {
    @media $mq-tablet {
      float: left;
      margin-right: $vheight-default;
    }
  }
}

.alignright {
  &,
  figure&,
  img&,
  dl& {
    @media $mq-tablet {
      float: right;
      margin-left: $vheight-default;
      text-align: right;
    }
  }
}

.screen-reader-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.posts-navigation {
  max-width: $max-width;
  margin-top: 6vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 calc($vheight-default / 2);
  line-height: 1;

  .nav-links {
    display: flex;
    align-content: space-between;
  }

  .nav-previous,
  .nav-next {
    flex: 1 50%;
    margin: 0;

    a {
      color: $color-green-light-bg;
      font-size: 65%;
      font-weight: $font-weight-bold;
      letter-spacing: 0.2em;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;
    }
  }

  .nav-next {
    text-align: right;
  }
}

.search-form {
  min-width: 260px;
  margin: 0;
  text-align: center;
}

.search-field,
.search-submit {
  display: inline-block;
  font-size: 16px;
  vertical-align: baseline;
}

.search-field {
  width: 60%;
  margin-top: 0;
  padding: 0.25em 0.5em;
  border: 1px solid color($color-caption alpha(50%));
  border-radius: 3px;
  color: $color-text;
  font-family: $font-family-default;
  font-size: 16px;
  font-weight: $font-weight-normal;
  transition: 200ms all ease-in-out;

  &::placeholder {
    color: inherit;
  }

  &:focus,
  &:hover {
    outline: none;
    background-color: color($color-green-light-bg alpha(5%));
    border-color: $color-caption;
  }
}

.search-submit {
  display: inline-block;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  padding: 0 1rem;
  background-color: $color-lightest;
  border: 3px solid $color-green-light-bg;
  border-radius: 3px;
  color: $color-green-light-bg;
  cursor: pointer;
  font-family: $font-family-default;
  font-size: 0.875rem;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 150ms all linear;

  &:hover,
  &:active,
  &:focus {
    background-color: $color-green-light-bg;
    color: $color-lightest;
    outline: 0;
  }
}

/*
 * Gravity Forms
 */

.gform_wrapper {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    padding: 0;
  }

  /*
  form {
    label {

    }
  }

  .gfield_required {
  }

  .form-left-half,.form-right-half {

  }

  .form-right-half {

  }
  */

  .gfield_label {
    font-size: 75%;
    font-weight: $font-weight-bold;
  }

  .ginput_container {
    margin-top: 0;

    label {
      display: block;
      margin: 0;
      font-size: 10px;
      font-weight: $font-weight-normal;
      letter-spacing: 0.15em;
      line-height: 1.5;
      text-transform: uppercase;
    }

    input,
    select,
    textarea {
      width: 100%;
      margin-top: 0;
      padding: 0.25em 0.5em;
      border: 1px solid color($color-caption alpha(50%));
      border-radius: 3px;
      color: $color-text;
      font-family: $font-family-default;
      font-size: 16px;
      font-weight: $font-weight-normal;
      transition: 200ms all ease-in-out;

      &::placeholder {
        color: inherit;
      }

      &:focus,
      &:hover {
        outline: none;
        background-color: color($color-green-light-bg alpha(5%));
        border-color: $color-caption;
      }
    }

    textarea {
      height: 7rem;

      /*
      &.small {

      }
      */
    }

    &.ginput_complex {
      display: flex;

      &::before,
      &::after {
        content: " ";
        display: table;
      }

      &::after {
        clear: both;
      }

      > span {
        flex: 1 50%;
        margin: 0;
        padding: 0 calc($vheight-default / 4);

        &:nth-child(odd) {
          padding-left: 0;
        }

        &:nth-child(even) {
          padding-right: 0;
        }
      }
    }
  }

  /*
  .gform_radio,
  .gfield_checkbox {
    label,
    input {

    }

    label {

    }
  }

  .gfield_radio,.gfield_checkbox {
    li {

    }

    label {

    }
  }
  */

  input.gform_button,
  .button {
    display: inline-block;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    padding: 0 1rem;
    background-color: $color-lightest;
    border: 3px solid $color-green-light-bg;
    border-radius: 3px;
    color: $color-green-light-bg;
    cursor: pointer;
    font-family: $font-family-default;
    font-size: 1rem;
    font-weight: $font-weight-bold;
    letter-spacing: 0.1rem;
    line-height: 2;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 150ms all linear;

    &:hover,
    &:active,
    &:focus {
      background-color: $color-green-light-bg;
      color: $color-lightest;
      outline: 0;
    }
  }

  /*
  .gform_validation_container {

  }
  */

  .gfield_error {
    .gfield_label {
      color: red;
    }

    input,
    select,
    textarea {
      background: color(red alpha(12.5%));
      border-color: red;
    }
  }

  .gform_footer {
    text-align: center;
  }

  .validation_error {
    padding: 1em;
    background: rgba(255, 0, 0, 0.125);
    border: 3px solid #f00;
    border-radius: 3px;
    color: #f00;
    font-size: 62.5%;
    font-weight: 700;
    text-align: center;
  }

  .validation_message {
    margin: 0;
    color: red;
    font-size: 62.5%;
  }

  /*
  #gforms_confirmation_message {
  }
  */

  .gfield_hidden_product {
    display: none;
  }
}

.qtip-content,.qtip-default {
  margin: 0;
}
