.u-button {
  display: inline-block;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: 0 1rem;
  border: 3px solid $color-green-light-bg;
  border-radius: 3px;
  color: $color-green-light-bg;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1rem;
  line-height: 2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 150ms all linear;

  &--block {
    display: block;
  }

  &--small {
    font-size: 0.875rem;
    line-height: 1.5;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $color-green-light-bg;
    color: $color-lightest;
    text-decoration: none;
    outline: 0;
  }
}
