:root {
  /* COLORS */
  --color-lightest: #fff;
  --color-darkest: #443634;
  --color-accent: #42f7ff;

  --text-color: color(var(--color-darkest) lightness(+ 10%));
  --text-inverted: color(var(--color-lightest) lightness(- 10%));

  /* FONTS */
  --font-size-sm: 18px;
  --font-size-md: 21px;
  --font-family-default: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --font-family-heading: brandon-grotesque, var(--font-family-default);

  /* ANIMATION */
  --transition-length: 150ms;
  --transition-easing: linear;
  --transition-property: all;
  --transition-default: var(--transition-length) var(--transition-property)
    var(--transition-easing);
}

@custom-media --small (min-width: 480px);
@custom-media --medium (min-width: 800px);
