@font-face {
  font-family: eveleth;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url('./edbwf.woff') format('woff');
}

@font-face {
  font-family: eveleth-shadow;
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src: url('./eswf.woff') format('woff');
}
