---
import Layout from '../layouts/default.astro';
---

<Layout
	title="About Marisa Morby"
	description="Blah blah blah"
	image="https://example.com/image.jpg"
>
	<section class="about">
		<div class="text">
			<h1>About Marisa Morby</h1>
				<p>Marisa Morby is a researcher, designer, and artist focusing on projects that connect people with nature. 
					She writes Design & Nature Reimagined, a newsletter about hope, nature, and technology. 
					She works as a Principal Researcher, Design & Strategy at Observable.</p>
		</div>
		<div class="image">
			<img src="https://res.cloudinary.com/dnchijmuf/image/upload/v1742708215/Resized_IMG_0003_147566101294852_1734398608421_gnwji2.jpg" alt="Marisa" />
		</div>
	</section>
</Layout>


<style>
	.about {
		display: flex;
		gap: 40px;
		justify-content: space-between;
	}
	.text {
		text-align: start;
		max-width: 450px;
	}
</style>