---
import Layout from '../layouts/default.astro';
---

<Layout
  title="About Marisa Morby"
  description="Blah blah blah"
  image="https://example.com/image.jpg"
>
  <section class="about">
    <div class="text">
      <h1>About Marisa Morby</h1>
      <p>
        Marisa Morby is a researcher, designer, and artist focusing on projects
        that connect people with nature. 
        
        She writes <a href=https://www.hopefulnature.studio>A Hopeful Nature</a>,
        a newsletter that helps us connect with nature, discover joy, and continue the hard work of hope. 
        
        She's a contributing author on the book <a href=https://usabilityfortheworld.com/book/better-cities><i>Usability for the World: Building Better Cities and
        Communities</i></a>.
      </p>
    </div>
    <div class="image">
      <img
        src="https://res.cloudinary.com/marisa/image/upload/v1743563096/DSC00299_1_ai3ctw.png"
        alt="Marisa"
      />
    </div>
  </section>
</Layout>

<style>
  .about {
    display: flex;
    gap: 40px;
    justify-content: space-between;
  }
  .text {
    text-align: start;
    max-width: 450px;
  }
</style>
