.about-marisa {
  padding: $vheight-default 5vw;
  background: $color-darkest;
  border-bottom: 1px solid $color-purple-dark;
  border-top: 1px solid $color-purple-dark;
  color: $color-lightest;

  @media $mq-tablet {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__image-box {
    display: block;
    width: 150px;
    height: auto;
    max-width: 250px;
    margin: 0 auto;
    border: 2px solid $color-lightest;
    border-radius: 50%;

    @media $mq-tablet {
      flex: 1 33%;
      margin: 0;
    }
  }

  &__image {
    display: block;
    max-width: 100%;
    border: 2px solid $color-darkest;
    border-radius: 50%;
  }

  &__text-box {
    max-width: calc( $max-width - 250 );
    margin: $vheight-default 0 0;

    @media $mq-tablet {
      flex: 2 66%;
      margin-top: 0;
      padding-left: $vheight-default;
    }
  }

  &__heading {
    font-size: 7.5vw;
    letter-spacing: 0.2em;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    @media $mq-mobile {
      font-size: 150%;
    }

    @media $mq-tablet {
      font-size: 100%;
      text-align: left;
    }

    @media $mq-desktop {
      font-size: 150%;
      text-align: left;
    }
  }

  &__text {
    margin-top: calc( $vheight-default * 0.5 );
  }

  &__links {
    margin-top: calc( $vheight-default * 0.5 );
    padding: 0;
    list-style: none;
    text-align: center;

    @media $mq-tablet {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__item {
    display: inline-block;
    margin: 0;

    &--button-item {
      display: block;
    }

    &--icon-item {
      display: inline-block;
      width: 30%;
      margin-top: calc( $vheight-default * 0.75 );
    }

    @media $mq-tablet {
      flex: 1 15%;

      &--button-item {
        display: inline-block;
        flex: 2 60%;
        text-align: left;
      }

      &--icon-item {
        max-width: 60px;
        margin-top: 0;
      }
    }
  }

  &__link {

    &--button {

    }

    &--icon {
      display: inline-block;
      width: 30px;
      height: 30px;
      background-size: contain;
      opacity: 0.8;
      overflow: hidden;
      text-indent: -9999px;
      transition: 200ms all ease-in-out;

      &:hover,&:active,&:focus {
        opacity: 1;
        outline: none;
        transform: scale(1.2);
      }

      @media $mq-tablet {
        width: 40px;
        height: 40px;
      }
    }

    &--facebook {
      background-image: url(../images/icon_facebook.svg);
    }

    &--twitter {
      background-image: url(../images/icon_twitter.svg);
    }

    &--linkedin {
      background-image: url(../images/icon_linkedin.svg);
    }
  }
}
