.call-to-action {
  position: relative;
  max-width: $max-width;
  margin: calc( $vheight-default * 1.5 ) -5vw 0;
  padding: 3em 2.5em;
  background-color: $color-purple-dark;
  background-position: center;
  background-size: cover;

  @media (min-width: 1024px) {
    margin: calc( $vheight-default * 2 ) auto;
  }

  &::before {
    content: '';
    position: absolute;
    top: calc( $vheight-default * 0.5 );
    left: calc( $vheight-default * 0.5 );
    bottom: calc( $vheight-default * 0.5 );
    right: calc( $vheight-default * 0.5 );
    display: block;
    border: 8px solid $color-lightest;
    z-index: 2;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: color( $color-purple-dark alpha(80%) );
    z-index: 1;
  }

  * {
    position: relative;
    z-index: 3;
  }

  &__heading {
    color: $color-lightest;
    font-size: 6.25vw;
    font-weight: $font-weight-black;
    letter-spacing: 0.2em;
    line-height: 1;
    text-align: center;
    text-shadow: 0 0 4px color( $color-darkest alpha(25%) );
    text-transform: uppercase;

    @media $mq-mobile {
      font-size: 4.5vw;
    }

    @media $mq-tablet {
      font-size: 150%;
    }
  }

  &__text {
    color: $color-tan-light;
    text-shadow: 0 0 4px color( $color-darkest alpha(25%) );
  }

  &__form {
    @media $mq-tablet {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  &__input-group {
    position: relative;
    display: block;

    @media $mq-tablet {
      flex: 1 30%;
      max-width: 32%;
      margin-top: 0;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0.25em 0.5em;
    background: transparent;
    border: 0;
    border-bottom: 2px solid $color-lightest;
    color: $color-lightest;
    font-family: $font-family-default;
    font-size: 16px;
    font-weight: $font-weight-normal;
    letter-spacing: 0.1em;
    line-height: 1.5;
    transition: 200ms all ease-in-out;

    &::placeholder {
      color: inherit;
      text-shadow: 0 0 4px color( $color-darkest alpha(40%) );
    }

    &:focus,&:hover {
      outline: none;
      background-color: color( $color-lightest alpha(25%) );
      border-color: $color-purple-dark;
    }
  }

  &__button {
    display: block;
    width: 100%;
    font-size: 18px;

    @media $mq-tablet {
      flex: 1 30%;
      max-width: 30%;
    }
  }
}
