.floating-nav {
  position: static;

  /*
   * This prevents the float-pop thing that happens when the URL bar slides in
   * and out in Chrome for iOS.
   */
  backface-visibility: hidden;

  &--fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
  }
}

/* Hack it up, hack it up, hack it up, haaack it up. */
.--hack_floating-nav__sibling--add-top-margin {
  margin-top: 30px;

  @media $mq-tablet {
    margin-top: 40px;
  }
}
