/*
 * Kind of hacky, but it seems more relevant/debuggable here than in the reset.
 */
body {
  counter-reset: questions;
}

.mm-question {
  padding: $vheight-default;
  border: 3px solid $color-purple-light;
  opacity: 0.8;
  transition: 200ms all linear;

  &:first-child:not(&--answered),&--answered+&:not(&--answered) {
    background: color( $color-purple-light tint(90%) );
    background: linear-gradient(
      to bottom,
      color( $color-purple-light tint(95%) ) 0%,
      color( $color-purple-light tint(75%) ) 100%
    );
    border-color: $color-purple-dark;
    box-shadow: 0 0 10px color( $color-purple-dark alpha(50%) );
    opacity: 1;
  }

  &--answered {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  & h3&__heading {
    margin-top: 0;
    font-weight: $font-weight-normal;
    letter-spacing: 0;
    text-transform: none;

    &::before {
      counter-increment: questions;
      content: 'Question ' counter(questions) ":";
      display: block;
      height: 2em;
      color: $color-purple-dark;
      font-size: 50%;
      font-weight: $font-weight-black;
      line-height: 2em;
      letter-spacing: 0.15em;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__instructions {
    margin-top: calc( $vheight-default / 4 );
    font-size: 80%;
  }

  &__radio-group {
    list-style: none;
    padding: 0;

    @media $mq-tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &::before {
      content: 'Choose an option:';
      display: block;
      width: 100%;
      height: 2em;
      color: $color-purple-dark;
      font-size: 50%;
      font-weight: $font-weight-black;
      line-height: 2em;
      letter-spacing: 0.15em;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__radio-item {
    position: relative;
    display: block;
    margin: calc( $vheight-default / 4) 0 0;

    @media $mq-tablet {
      flex: 1;
      margin: 0 1% 0 0;
    }

    &:last-of-type {
      margin-right: 0;
    }

    label {
      position: relative;
      display: block;
      width: 100%;
      margin: 0;
      padding: calc( $vheight-default / 4 );
      background-color: $color-lightest;
      border: 2px solid $color-darkest;
      border-radius: calc( $vheight-default / 4 );
      color: $color-darkest;
      cursor: pointer;
      font-family: $font-family-default;
      font-weight: $font-weight-bold;
      font-size: 62.5%;
      line-height: 1.1;
      text-align: center;
      text-decoration: none;
      transition: 200ms all ease-in-out;
      z-index: 2;

      &:hover,&:active,&:focus {
        outline: none;
        background: color( $color-purple-dark tint(75%) );
        box-shadow: 0 0 10px color( $color-purple-dark alpha(25%) );
        text-shadow: 0 0 5px color( $color-purple-dark alpha(15%) );
      }
    }
  }

  &__input {

    &--radio {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 1px;
      height: 1px;
      z-index: 1;

      &:checked+label {
        background: color( $color-purple-dark tint(25%) );
        color: $color-lightest;
      }
    }
  }

  &__label {

  }
}
