.mm-results {
  position: relative;
  background: $color-lightest;
  border: 6px solid $color-purple-dark;
  box-shadow: 0 2px 8px color( $color-darkest alpha(40%) );

  &__header {
    position: relative;
    height: 300px;
    padding: 15px;
    overflow: hidden;

    @media (min-width: 750px) {
      height: 265px;
    }
  }

  &__heading:first-child {
    position: relative;
    padding: $vheight-default $vheight-default 0;
    color: $color-lightest;
    font-size: 125%;
    font-weight: $font-weight-black;
    letter-spacing: 0.2em;
    text-align: center;
    text-shadow: 0 0 10px color( $color-darkest alpha(40%) );
    z-index: 2;

    @media (min-width: 750px) {
      padding-top: calc( $vheight-default * 2 );
      padding-left: calc( $vheight-default / 2 );
      padding-right: calc( $vheight-default / 2 );
      font-size: 135%;
    }
  }

  &__grade {
    font-weight: inherit;
  }

  h3&__sub-heading {
    position: relative;
    margin-top: calc( $vheight-default / 4 );
    padding: 0 $vheight-default;
    color: $color-lightest;
    font-size: 110%;
    text-align: center;
    text-shadow: 0 0 10px color( $color-darkest alpha(40%) );
    z-index: 2;

    @media (min-width: 750px) {
      padding-left: calc( $vheight-default / 2 );
      padding-right: calc( $vheight-default / 2 );
    }
  }

  &__image-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 90%;
    margin: 0 5%;
    padding: 15px 0 0;
    overflow: hidden;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 15px;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: color( $color-purple-dark alpha(75%) );
      z-index: 1;
    }

    @media (min-width: 750px) {
      width: 100%;
      margin: 0;
      padding: 15px 15px 0;

      &::after {
        left: 15px;
        right: 15px;
      }
    }
  }

  &__image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: auto;
    height: 100%;

    @media (min-width: 750px) {
      position: static;
      left: auto;
      transform: none;
      width: 100%;
      height: auto;
    }
  }

  &__image-caption {
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    padding-bottom: 4px;
    padding-left: calc( $vheight-default / 4 );
    padding-right: calc( $vheight-default / 4 );
    color: $color-purple-light;
    font-size: 10px;
    font-weight: $font-weight-bold;
    letter-spacing: 0.2em;
    line-height: 1;
    text-transform: uppercase;
    z-index: 2;

    @media (min-width: 750px) {
      left: 15px;
      right: 15px;
      padding-left: calc( $vheight-default / 2 );
      padding-right: calc( $vheight-default / 2 );
    }
  }

  &__image-credit {
    display: block;
    font-size: 10px;

    @media (min-width: 750px) {
      float: right;
    }

    &--link,a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__description {
    padding: calc( $vheight-default / 2 ) $vheight-default;
  }

  &__form {
    padding: 0 5% 15px;

    @media $mq-tablet {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: $vheight-default;
      padding-right: $vheight-default;
    }
  }

  &__input-group {
    position: relative;
    display: block;

    @media $mq-tablet {
      flex: 1 30%;
      max-width: 32%;
      margin-top: 0;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    color: $color-purple-dark;
    font-size: 8px;
    font-weight: $font-weight-bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;
  }

  &__input {
    display: block;
    width: 100%;
    padding: 0.75em 0.5em 0.25em;
    background: color( $color-purple-light alpha(50%) );
    border: 0;
    border-bottom: 2px solid $color-darkest;
    color: $color-darkest;
    font-family: $font-family-default;
    font-size: 16px;
    font-weight: $font-weight-normal;
    letter-spacing: 0.1em;
    line-height: 1.5;
    transition: 200ms all ease-in-out;

    @media $mq-tablet {
      padding-top: 0.25em;
    }

    &::placeholder {
      color: inherit;
      text-shadow: 0 0 4px color( $color-darkest alpha(40%) );
    }

    &:focus,&:hover {
      outline: none;
      background-color: color( $color-darkest alpha(25%) );
      border-color: $color-purple-dark;
    }
  }

  &__button {
    display: block;
    width: 100%;
    font-size: 18px;

    @media $mq-tablet {
      flex: 1 30%;
      max-width: 30%;
      margin-top: 0;
      font-size: 15px;
    }
  }

  &__notices-text {
    font-size: 10px;
    line-height: 1.25;
    text-align: center;

    @media $mq-tablet {
      flex: 2 100%;
      width: 100%;
      padding: 0 2em;
      font-size: 12px;
    }
  }
}
