.nav {
  height: 30px;
  margin-top: 0;
  background: $color-darkest;
  border-bottom: 1px solid $color-purple-dark;
  box-shadow: 0 2px 5px color( $color-darkest alpha(25%) );

  @media $mq-tablet {
    height: 40px;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: $max-width;
    margin: 0 auto;
    padding: 0 3vw;
    text-align: right;

    @media $mq-desktop {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__item {
    display: inline-block;
    margin: 0;
    font-size: 4vw;
    font-weight: $font-weight-bold;
    line-height: 1;
    list-style: none;

    @media $mq-mobile {
      font-size: 100%;
    }

    a {
      display: block;
      padding: 0.25em 0.125em 0.2em;
      color: $color-lightest;
      text-decoration: none;
      text-transform: uppercase;
    }

    &--brand {
      position: relative;
      text-align: left;

      @media $mq-tablet {
        width: 50%;
      }

      a {
        position: relative;
        width: 1.625em;
        height: 1.625em;
        overflow: hidden;
        visibility: hidden;
        font-weight: $font-weight-black;

        @media $mq-mobile {
          width: auto;
          overflow: visible;
          visibility: visible;
        }

        &::before {
          content: '';
          display: inline-block;
          visibility: visible;
          width: 1.125em;
          height: 1.125em;
          margin-right: 0.25em;
          background-image: url(../images/marisa-morby_logo.svg);
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          vertical-align: bottom;
        }

        @media $mq-desktop {
          &::after {
            content: '';
            position: absolute;
            left: -55px;
            top: -150%;
            width: 50px;
            height: 50px;
            background: url(../images/marisa-morby_nav.jpg);
            background-size: cover;
            border: 2px solid $color-lightest;
            border-radius: 50%;
            box-shadow: 0 2px 5px color( $color-darkest alpha(25%) );
            opacity: 0;
            transition: 250ms all ease-in-out;

            @media $mq-retina {
              background-image: url(../images/marisa-morby_nav@2x.jpg);
            }
          }
        }
      }

      @media $mq-desktop {
        .floating-nav--fixed-top & {
          a::after {
            opacity: 1;
            top: 2px;
          }
        }
      }
    }
  }
}
