.preview {
  position: relative;
  padding: 2em 1.5em;
  background-color: $color-tan-dark;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-lightest;
  text-align: center;
  text-shadow: 0 0 4px color( $color-darkest alpha(25%) );
  transition: 3s background-size linear;

  &:hover {
    background-size: 300%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom,
        color( $color-tan-dark alpha(80%) ) 0%,
        color( $color-tan-dark alpha(90%) ) 70%
      );
    z-index: 1;
  }

  &:nth-of-type(4n+2) {
    background-color: $color-purple-dark;

    &::after {
      background-image: linear-gradient(to bottom,
          color( $color-purple-dark alpha(80%) ) 0%,
          color( $color-purple-dark alpha(90%) ) 70%
        );
    }
  }

  /*&:nth-of-type(4n+3) {
    background-color: $color-purple-light;

    &::after {
      background-image: linear-gradient(to bottom,
          color( $color-purple-light alpha(80%) ) 0%,
          color( $color-purple-light alpha(90%) ) 70%
        );
    }
  }*/

  &:nth-of-type(4n+3) {
    background-color: $color-darkest;

    &::after {
      background-image: linear-gradient(to bottom,
          color( $color-darkest alpha(75%) ) 0%,
          color( $color-darkest alpha(85%) ) 70%
        );
    }
  }

  * {
    position: relative;
    z-index: 3;
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
  }

  &__heading {
    flex: 1 100%;
    order: 2;
    margin-top: calc( $vheight-default * 0.625 );
    font-size: 8vw;
    letter-spacing: 0.1em;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;

    &::before,&::after {
      content: '';
      position: absolute;
      left: 50%;
      display: block;
      width: 75%;
      height: 1px;
      background-color: $color-tan-light;
      transform: translateX(-50%);
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    @media $mq-mobile {
      font-size: 6vw;
    }

    @media (min-width: 1024px) {
      font-size: 140%;
    }
  }

  &__link {
    display: block;
    margin-left: -0.25em;
    margin-right: -0.25em;
    padding: calc( $vheight-default * 0.75 ) 0.25em;
    border: 1px solid transparent;
    border-radius: calc( $vheight-default / 4 );
    color: inherit;
    text-decoration: none;
    transition: 200ms all ease-in-out;

    &:active,&:hover,&:focus {
      outline: 0;
    }

    &:focus {
      background: color( $color-lightest alpha(25%) );
      border-color: $color-lightest;
    }
  }

  &__posted-date {
    flex: 1 100%;
    order: 1;
    margin-top: 0;
    font-family: $font-family-script;
    font-size: 150%;
    line-height: 1;
    text-align: center;
  }
}
