.testimonials {
  max-width: $max-width;
  margin: 0 auto;
  text-align: center;

  @media $mq-mobile {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: $vheight-default;
  }

  &__testimonial {
    display: inline-block;
    margin-top: calc( $vheight-default * 0.75 );
    padding: 2em 1.5em;
    background-color: $color-lightest;
    box-shadow: 0 0 10px color( $color-darkest alpha(5%) );
    text-align: center;

    @media $mq-mobile {
      margin-top: 0;
      padding: $vheight-default;
      flex: 1 45%;
      display: flex;
      flex-wrap: wrap;
      max-width: 48%;

      &+& {
        margin-top: 0;
      }
    }

    @media $mq-desktop {
      padding: calc( $vheight-default * 1.5 ) calc( $vheight-default * 2 ) calc( $vheight-default * 2 );
    }
  }

  &__quote {
    flex: 1 100%;
    order: 2;
    margin-top: 0;
    font-size: 90%;

    @media $mq-mobile {
      margin-top: calc( $vheight-default / 2 );
    }

    >p {
      +p {
        margin-top: calc( $vheight-default / 4 );
      }

      &::before {
        content: '\201c';
      }

      &:last-child::after {
        content: '\201d';
      }
    }
  }

  &__attribution {
    flex: 1 100%;
    order: 1;

    @media $mq-mobile {
      margin-top: 0;
    }

    &-photo,&-text {
      display: inline-block;
      vertical-align: middle;
    }

    &-photo {
      display: inline-block;
      max-width: 80px;
      margin-right: 0.5rem;
      background-color: $color-purple-dark;
      border: 2px solid $color-purple-dark;
      border-radius: 50%;
    }

    &-text {
      margin-top: calc( $vheight-default / 4 );
      text-align: left;
    }

    &-name,&-company {
      display: block;
    }

    &-name {
      font-size: 16px;
      font-weight: $font-weight-black;
      line-height: 1;
    }

    &-company {
      margin: 0;
      font-size: 14px;
    }
  }
}
