.worked-with {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  &__companies {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    padding: 0;
    list-style: none;
  }

  &__company {
    flex: 1 50%;
    max-width: 50%;
    margin-top: calc( $vheight-default / 2 );
    padding: 0 1rem;

    @media (min-width: 480px) {
      flex: 1 33%;
      max-width: 33%;
    }

    @media (min-width: 700px) {
      flex: 1 16%;
      max-width: 16%;
    }
  }

  &__company-logo {
    max-width: 100%;
    height: auto;
  }
}
