---

---

<footer>
	<nav>
		<a href="https://bsky.app/profile/marisamorby.com">Bluesky</a>
		<a href="https://instagram.com/marisamorby">Instagram</a>
		<a href="https://linkedin.com/in/marisamorby">LinkedIn</a>
	</nav>

	<p>
		<small>&copy; 2025 Marisa Morby</small>
	</p>
</footer>

<style>
	footer {
		inline-size: min(90dvi, 1280px);
		margin-inline: auto;
		text-align: center;
	}

	nav {
		display: flex;
		gap: 15px;
		justify-content: center;
	}
</style>
