---

---

<footer>
  <nav>
    <a href="https://bsky.app/profile/marisamorby.com"
      ><img
        src="https://res.cloudinary.com/marisa/image/upload/v1740460631/bluesky-lp8y5pdi2ob29youg4ycf_1_j5bu4w.png"
        width="22"
        height="22"
      /></a
    >
    <a href="https://instagram.com/marisamorby"
      ><img
        src="https://res.cloudinary.com/marisa/image/upload/v1740460631/instagram-new_1_xlzqhi.png"
        width="25"
        height="25"
      /></a
    >
    <a href="https://linkedin.com/in/marisamorby"
      ><img
        src="https://res.cloudinary.com/marisa/image/upload/v1740460631/linkedin-big-logo_1_jwhkpb.png"
        width="20"
        height="20"
      /></a
    >
  </nav>

  <p>
    <small>&copy; 2025 Marisa Morby</small>
  </p>
</footer>

<style>
  footer {
    inline-size: min(90dvi, 1280px);
    margin-inline: auto;
    text-align: center;
  }

  nav {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
</style>
