<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>
      {% if post.title %}{{ post.title }}{% else %}{{ title }}{% endif %} ·
      Marisa Morby
    </title>
  </head>
  <body>
    <header>
      <a href="/" rel="home">
        <!-- <img src="/images/marisa-morby-1.jpg" alt="Marisa Morby" /> -->
        marisa morby
      </a>
      <nav>
        <a href="/writing/">writing</a>
        <a href="/drawing/">drawing</a>
        <a href="/shop/">shop</a>
        <!--
          <a href="/">about</a>
          <a href="/notes/">notes</a>
          <a href="/archives/">archives</a>
          <a href="/art-and-fun/">art & fun</a>
        -->
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      All content © Marisa Morby
    </footer>
  </body>
</html>
