<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>
      {% if post.title %}{{ post.title }}{% else %}{{ title }}{% endif %} ·
      Marisa Morby
    </title>
  </head>
  <body>
    <header>
      <a href="/" rel="home">
        <img src="/images/marisa-morby.jpg" alt="Marisa Morby" />
        Marisa Morby
      </a>
      <nav>
        <a href="/">Home</a>
        <!--<a href="/about/">About</a>-->
        <a href="/articles/">Articles</a>
        <a href="/notes/">Notes</a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      All content © Marisa Morby
    </footer>
  </body>
</html>
