<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;1,300;1,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>
      {% if post.title %}{{ post.title }}{% else %}{{ title }}{% endif %} ·
      Marisa Morby
    </title>
  </head>
  <body>
    <header>
      <a href="/" rel="home">
        <img src="/images/site-logo.png" alt="Marisa Morby logo" /> 
      </a>
      <nav>
        <a href="/writing/" {% if page.url == '/writing/' %}class="active"{% endif %}>writing</a>
        <a href="/drawing/" {% if page.url == '/drawing/' %}class="active"{% endif %}>drawing</a>
        <a href="/ceramics/" {% if page.url == '/ceramics/' %}class="active"{% endif %}>ceramics</a>
        <a href="/library/" {% if page.url == '/library/' %}class="active"{% endif %}>library</a>
        <a href="/acting/" {% if page.url == '/acting/' %}class="active"{% endif %}>acting</a>
        <!--
          <a href="/portfolio/">portfolio</a>
          <a href="/">about</a>
          <a href="/notes/">notes</a>
          <a href="/archives/">archives</a>
          <a href="/art-and-fun/">art & fun</a>
        -->
      </nav>
    </header>

<main class="home">
  <div class="wrapper">
      <div class="box a">
        <img src="/images/marisa-circle.png">
      </div>
      <div class="box b">
      {{ content }}
      </div>
  </div>
</main>


    <footer>
      All content © Marisa Morby
    </footer>
  </body>
</html>
