.footer {
  max-width: $max-width;
  margin: 0 auto;
  padding: $vheight-default 5vw;
  font-size: 9px;
  line-height: 1;

  @media $mq-desktop {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
  }

  &__links {
    margin: 0;
    padding: calc($vheight-default * 0.25);
    list-style: none;
    text-align: center;

    @media $mq-desktop {
      display: inline-block;
      padding: 0;
      text-align: left;

      &--right {
        text-align: right;
      }
    }
  }

  &__item {
    display: inline-block;
    margin: 0 1vw;
    color: color($color-light-grey shade(20%));
    font-weight: $font-weight-bold;
    letter-spacing: 0.2em;
    text-transform: uppercase;

    &:first-child {
      margin-left: 0;
    }

    & + & {
      margin-top: calc($vheight-default / 4);

      @media (min-width: 682px) {
        margin-top: 0;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;
  }
}
