.intro {
  width: $max-width;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;

  &__heading {
    color: $color-heading;
    font-size: 2rem;
    line-height: 1.125;

    strong {
      color: $color-green-light-bg;
    }
  }

  &__subheading {
    margin-top: 0;
    color: $color-text;
    font-size: 1.5rem;
    font-weight: $font-weight-normal;
  }

  &__photo {
    display: block;
    max-width: 90%;
    width: 180px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;

    @media (min-width: 560px) {
      float: right;
      margin-bottom: 1.5rem;
      margin-left: 3rem;
      margin-right: 0;
    }
  }

  &__lede {
    color: $color-text;
    font-size: 1.125rem;
  }

  &__link {
    color: $color-green-light-bg;
    font-weight: $font-weight-bold;
  }

  &__social {
    margin-top: 2rem;
    text-align: center;

    @media $mq-tablet {
      text-align: left;
    }
  }

  &__icon-link {
    display: inline-block;
    text-decoration: none;

    & + & {
      margin-left: 1rem;
    }
  }

  &__icon {
    max-width: 40px;
    height: auto;
  }
}
