.post-previews {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;

  &__search-term {
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-align: center;
  }
}
