.skillz {
  margin: 5rem -5vw 3rem;
  padding: 3rem 5vw;
  background: $color-darkest;
  color: $color-text-light-bg;

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media $mq-tablet {
    flex-direction: row;
  }

  &__group {
    text-align: center;

    @supports (display: flex) {
      flex: 1;
    }

    & + & {
      margin-top: 3rem;
    }

    @media $mq-tablet {
      max-width: calc($max-width / 3 - 1rem);
      margin-top: 0;
      margin-right: 1rem;

      & + & {
        margin-top: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__heading {
    margin-top: 0;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    margin: 0;
  }
}
