.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;

  &__attribution {
    @media (min-width: 950px) {
      display: flex;
      align-items: center;
    }
  }

  &__image-wrap {
    position: relative;
    max-width: 80px;
    margin-top: 0;
    border: 2px solid $color-green-light-bg;
    border-radius: 50%;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-color: $color-green-light-bg;
    }

    &::before {
      top: calc(50% - 4px);
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }

    &::after {
      top: calc(50% - 1px);
      width: 2rem;
      height: 2px;
      border-radius: 3px;
    }
  }

  &__photo {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  &__name {
    margin-top: 0;
    font-size: 0.875rem;
    font-style: italic;
    text-align: center;

    @media (min-width: 950px) {
      order: 2;
      margin-left: 0.5rem;
      text-align: left;
    }
  }

  &__business {
    display: block;
    margin-top: 0;
    color: $color-caption;
    font-size: 87.5%;
    line-height: 1;
  }

  &__text {
    display: flex;
    align-items: center;
    flex: 2;
    margin-top: 0;
    padding: 1rem;
    border: 1px solid $color-light-grey;
    border-radius: 3px;
    font-size: 0.875rem;
  }

  &:nth-child(odd) &__image-wrap {
    margin-left: 2rem;

    &::before {
      left: calc(-2rem - 6px);
    }

    &::after {
      left: -2rem;
    }
  }

  &:nth-child(odd) &__name {
    padding-left: 2rem;
  }

  &:nth-child(odd) &__text {
    text-align: right;
  }

  &:nth-child(even) &__attribution {
    order: 1;
  }

  &:nth-child(even) &__image-wrap {
    margin-right: 2rem;

    &::before {
      right: calc(-2rem - 6px);
    }

    &::after {
      right: -2rem;
    }
  }

  &:nth-child(even) &__name {
    padding-right: 2rem;
  }

  &:nth-child(even) &__text {
    order: 2;
    text-align: left;
  }

  @media (min-width: 950px) {
    flex-direction: column;

    &__image-wrap::after {
      width: 2px;
      height: 2rem;
    }

    &:nth-child(odd) &__attribution {
      order: 2;
      margin-top: 0;
    }

    &:nth-child(even) &__attribution {
      order: 1;
    }

    &:nth-child(odd) &__text {
      order: 1;
      text-align: center;
    }

    &:nth-child(even) &__text {
      order: 2;
      text-align: center;
    }

    &:nth-child(odd) &__image-wrap {
      margin-left: 0;
      margin-top: 2rem;

      &::before {
        left: calc(50% - 4px);
        top: calc(-2rem - 6px);
      }

      &::after {
        left: calc(50% - 1px);
        top: -2rem;
      }
    }

    &:nth-child(even) &__image-wrap {
      margin-right: 0;
      margin-bottom: 2rem;
      order: 2;

      &::before {
        bottom: calc(-2rem - 6px);
        left: calc(50% - 4px);
        top: auto;
      }

      &::after {
        bottom: -2rem;
        left: calc(50% - 1px);
        top: auto;
      }
    }

    &:nth-child(odd) &__name {
      padding-left: 0;
      padding-top: 2rem;
    }

    &:nth-child(even) &__name {
      padding-bottom: 2rem;
      padding-right: 0;
    }
  }
}
