.top-nav {
  margin-top: 0;
  background: $color-darkest;

  &__menu {
    display: flex;
    max-width: 98%;
    width: $max-width;
    margin: 0 auto;
    padding: 5px 0;
  }

  &__link {
    display: inline-block;
    margin-top: 0;
    margin-right: 0.25rem;
    padding: 0.25rem;
    color: $color-lightest;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-decoration: none;
    transition: 150ms color linear;
    vertical-align: top;

    @media $mq-tablet {
      font-size: 18px;
    }

    &:hover,
    &:active,
    &:focus {
      color: $color-green-dark-bg;
      outline: 0;
    }

    &--logo {
      margin-right: auto;

      &::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-image: url(../images/marisa-morby_logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: top;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
