.work-sample {
  padding: 0 1rem;

  &__image-link {
    display: block;
    width: calc(100% + 1.5rem);
    margin: 0 -0.75rem;
    outline: 0;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__heading {
    margin-top: 0.5rem;
    font-size: 1.5rem;
    line-height: 1;
  }

  &__lede {
    margin-top: 0;
  }

  &__link {
    display: block;
    margin-top: 1rem;
    color: $color-green-light-bg;
    font-size: 0.75rem;
    font-weight: $font-weight-bold;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
