$vheight-default: 30px;
$max-width: 1024px;

$font-family-default: futura-pt, futura, sans-serif;
$font-family-script: texas-hero, script, sans-serif;
$font-size-default: 22px;
$font-weight-normal: 300;
$font-weight-bold: 700;
$font-weight-black: 800;

$color-lightest:     #fffdf9;
$color-darkest:      #020815;
$color-tan-light:    #fff4e7;
$color-tan-medium:   #dddcc5;
$color-tan-dark:     #685a4f;
$color-purple-light: #d7ced5;
$color-purple-dark:  #640035;

/*
 * ## Media Queries
 */
$mq-retina: (-webkit-min-device-pixel-ratio: 1.5),  (min-resolution: 144dpi);
$mq-mobile: (min-width: 480px);
$mq-tablet: (min-width: 768px);
$mq-desktop: (min-width: 1100px);
$mq-large: (min-width: 1440px);
